/************* GENERAL ***************/
* {
	box-sizing: border-box;
}

body {
	background-color: #00041d;
	font-family: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.active {
	background-color: #00041d;
	font-weight: bold;
}

img {
	width: 100%;
}

main {
	min-height: calc(100vh - 30px);
	padding-top: 188.516px;
}

/************** HEADER ***************/

header {
	background-color: #002b99;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 1;
}

header img {
	width: 400px;
	margin: 0 auto;
	padding: 15px 0;
}

/**************** NAV *****************/

nav {
	width: 100vw;
	background-color: #00b2ff;
	text-align: center;
}

nav li {
	display: inline-block;
	font-variant: small-caps;
	font-size: 1.6em;
	padding: 5px 12px;
	transition: .3s;
}

nav li a {
	color: #fff;
}



/************** HOME *****************/

#home, #characters, #gallery {
	margin: 30px 0;
	background-color: #fff;
}

.title h1 {
	text-align: center;
	padding-top: 25px;
	color: #fff;
}

h2  {
	margin: 0;
	padding-bottom: 12px;
}

p {
	text-align: justify;
}


.item {
	padding: 25px;
}

/************* CHARACTERS *************/

#characters img {
	width: 230px;
	/*border-radius: 100%;*/
}

/*********** GALLERY *****************/

#gallery img {
	width: 250px;
}

/************** VIDEO **************/

#player {
	margin: 30px 0;
	text-align: center;
}


/************* FOOTER ***************/

footer.main {
	background-color: #00b2ff;
	height: 30px;
	width: 100%;

}

footer.main p {
	text-align: center;
	padding: 8px 0;
	color: #fff;
	font-size: .8em;
}

/************* MEDIA QUERY ************/

@media only screen and (min-width: 768px) {

/*********** NAV *************/

nav li:hover {
	background-color: #00041d;
	font-weight: bold;
}

/************** HOME *************/

#home, #characters, #gallery {
	display: flex;
	flex-wrap: wrap;	
}


.item {
	flex: 1 1 50%;
}

/************** CHARACTERS ************/


#characters .item {
	text-align: center;
}

/************ GALLERY *************/

#gallery .item {
	width: 300px;
	flex: 1 1 33%;
}

iframe {
	width: 720px;
	height: 405px; 
}

}

@media only screen and (max-width: 767px) {

.container {
	width: 100vw;
}

#characters, #gallery {
	text-align: center;
}


header img {
	width: 50vw;
}

nav li {
	font-size: 1.2em;
}

main {
	padding-top: 130px;
}

iframe {
	width: 100vw;
	height: calc(100vw / 1.7777)
}

}